
.row-holder {
    -fx-pref-width: 1280;
    -fx-pref-height: 720;
    -fx-spacing: 50;
 }

.page {
    -fx-pref-width: 720;
    -fx-spacing: 20;
}


.card-row {
    -fx-spacing: 50;
    -fx-padding: 0 100 0 100;
}


.course-card {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, black, 0, 0, 20, 20);
    -fx-pref-height: 220;
    -fx-pref-width: 220;
    -fx-padding: 25;
}

.course-card:hover {
    -fx-effect: dropshadow(three-pass-box, #ff7373, 0, 0, 28, 28);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.course-title {
    -fx-font-size: 30;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.course-subject {
    -fx-font-size: 20;
    -fx-font-family: sans-serif;
}



.delete-button {
    -fx-text-fill: #ff7373;
}

.delete-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.scroller {
    -fx-background-color: white;
}

.search-bar {
    -fx-min-width: 720;
    -fx-padding: 0 50;
    -fx-spacing: 55;
}

.search-box {
    -fx-min-width: 300;
    -fx-pref-height: 40;
    -fx-padding: 10;
    -fx-font-family: sans-serif;
    -fx-background-color: white;
    -fx-border-color: black;
}

.search-box:hover {
    -fx-border-color: rgba(255, 115, 115);
}